<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geoattendencedemo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OnDayActivity"></activity>
        <activity android:name=".SeeFullMonthActivity" />
        <activity android:name=".MakeNewDayRosterActivity" />
        <activity android:name=".TodaysWorkersTimeActivity" />
        <activity android:name=".EmployeeHourRecordActivity" />
        <activity android:name=".SeeAllEmployeesActivity" />
        <activity android:name=".TodaysWorkerActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvNgTaigWTBG_gPX2EQ7hM_TkLm9y9Xuw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".GoogleMapActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".NextDayRoasterActivity" />
        <activity android:name=".MDActivity" />
        <activity android:name=".SupervisorActivity" />
        <activity android:name=".RejectJobActivity" />
        <activity android:name=".ConfirmJobActivity" />
        <activity android:name=".WorkerMessageActivity" />
        <activity android:name=".PutCodeActivity" />
        <activity android:name=".WorkerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>